# ----------------------------
# Python Virtual Environment
# ----------------------------
backend/venv/

# ----------------------------
# Python Cache Files
# ----------------------------
__pycache__/
*.py[cod]

# ----------------------------
# Environment Variables
# ----------------------------
.env

# ----------------------------
# macOS Files
# ----------------------------
.DS_Store

# ----------------------------
# VS Code Settings
# ----------------------------
.vscode/

# ----------------------------
# Logs
# ----------------------------
*.log
